/* HSL */
$color1: hsla(195%, 55%, 46%, 1);
$color2: hsla(195%, 53%, 48%, 1);
$color3: hsla(197%, 53%, 48%, 1);
$color4: hsla(194%, 53%, 51%, 1);
$color5: hsla(195%, 47%, 53%, 1);

$errorColor: darken(#ec6d75, 10%);

/* RGB */
// $color1: rgba(53, 150, 182, 1);
// $color2: rgba(58, 156, 188, 1);
// $color3: rgba(57, 149, 186, 1);
// $color4: rgba(62, 165, 196, 1);
// $color5: rgba(77, 162, 191, 1);

$LABEL_COLOR: $color1;

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  max-width: 320px;
  background-color: white;

  .auth-toggle {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    .choice {
      background-color: $color3;
      width: 50%;
      text-align: center;
      cursor: pointer;
      padding: 1rem;
      text-decoration: none;
      color: #eee;
      &.active {
        background-color: $color4;
        font-weight: 600;
      }
    }
  }

  .password-input-container {
    position: relative;
    .visibility-toggle {
      right: 0;
      top: 2rem;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;

      svg {
        transform: scale(0.5);
      }
    }
  }


  .input-group {
    text-align: center;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
    min-width: 300px;

    input {
      border: none;
      border-bottom: solid 1px #aaa;
      width: 100%;
      padding: 10px 0;
      background-color: transparent;
      // background-color: #eeeeee;
      transition: border-color 0.2s ease, box-shadow 0.2s ease;

      &:focus {
        outline: none;
        border-color: $LABEL-COLOR;
        box-shadow: 0 1px 0 0 $LABEL-COLOR;
        
        &.invalid {
          border-color: $errorColor;
          box-shadow: 0 1px 0 0 $errorColor;
        }
      }

      &:focus + label {
        color: $LABEL-COLOR;
      }

      &:focus + label,
      &.has-content + label {
        transform: translateY(-30px);

      }
    }
    label {
      position: absolute;
      top: 30px;
      left: 0;
      color: darken(#aaa, 70%);
      font-weight: 300;
      transition: transform 0.2s ease, color 0.2s ease;
      &:hover {
        cursor: text;
      }
    }

    .errors {
      display: flex;
      flex-direction: column;

      span {
        margin: 0;
        text-align: left;
        color: darken(#ec6d75, 10%);
        display: block;
      }
    }
  }
}
